.hud {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 999;
    bottom: 0;
    position: absolute;
    height: 200px;
    width: 100%;
}

.hud-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    background-color: darkgray;
}

.targetComputer {
    height: 150px;
    width: 200px;
    background-color: darkslategrey;
    border: black 1px solid;
    margin: auto;
}

.hull {
    height: 150px;
    width: 200px;
    background-color: darkslategrey;
    border: black 1px solid;
    margin: auto;
}

.shields {
    height: 150px;
    width: 200px;
    background-color: darkslategrey;
    border: black 1px solid;
    margin: auto;

    .shieldImage {
        position: relative;
        height: 100%;
        left: 20px;
    }
    .ship-silhouette {
        position: relative;
        height: 35%;
        bottom: 49px;
        right: 80px;
    }
}


